body {
    font-family: 'Inclusive Sans', sans-serif;
    font-display: swap;

    background: #D4A788;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ), url('images/daniel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin:0;
}

#content {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
}

#header {
    font-size: 30px;
}

#extra_info {
    margin-top: -15px;
    font-size: 22px;
}

a {
    color: #00ccff;
}

#two_weeks {
    margin-bottom: 10px;
}

#schedule_div {    
    color: white;
    /* background: #ff5050; */
    background: RGBA(0, 0, 0, 0.5);

    border: 2px solid white;
    /* border-collapse: collapse; */
    border-radius: 50px;
}

#schedule_table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    /* background: #eebb55; */

    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid white;
}



.table_period {
    width: 12%;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    border: 2px solid white;
}

/*.table_top {
    padding-top: 30px;
}

.table_bottom {
    padding-bottom: 30px;
}*/


.table_blockA {
    width: 44%;
    font-size: 20px;
    border-collapse: collapse;
    border: 2px solid white;
}

.table_blockB {
    width: 44%;
    font-size: 20px;
    border-collapse: collapse;
    border: 2px solid white;
}

#footer {
    font-size: 25px;
}

#madeby {
    font-size: 20px;
}